<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta do dia</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <img class="logo" src="/img/carta_vi.png" alt="carta os amantes do tarot ">
    </header>

    <main>
        <!-- <h2><%= mensagem %></h2> -->
        <a href="index.ejs">Voltar</a>
    </main>

</body>

</html>