<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cigana Tula</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <img class="logo" src="/img/ciganinha.png" alt="desenho de uma cigana">
        <h1 class="titulo">Cigana Tula tem uma mensagem para você</h1>
    </header>

    <main>
        <h2 class="mensagem" ><%= mensagem %></h2>
        <a href="/">Tirar carta</a>
    </main>

</body>

</html>