<footer class="bg-pink mt-auto">
    <p class="fst-italic text-center text-white py-2">
        Centro Místico Sol Dourado 2022
    </p>
</footer>

<script src="./js/script.js"></script>
</body>
</html>