<header class="container-fluid bg-dark sticky-top">
    <nav class="d-flex justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center">
        <div>
            <!-- logo -->
            <img src="" alt="logo">
        </div>
        <div>
            <!-- navegação -->
            <ul class="nav nav-pills">
                <li>
                    <a id="menuHome" href="/" class="nav-link text-black">
                        Home
                    </a>
                </li>
                <li>
                    <a id="menuHoroscopo" href="/horoscopo" class="nav-link text-black">
                        Horoscopo
                    </a>
                </li>
                

            </ul>
        </div>
        <div></div>
    </nav>
</header>